.MainLayout {
    color: #25468e;
    background-image: url("../../images/floral-vintage-seamless-pattern-burnt-orange-background-fabrics-scrapbooking-wrapping-194905434.jpeg");

}

.nav {
    position: absolute;

}