html {
    background-image: url(https://oir.mobi/uploads/posts/2022-08/1661411116_1-oir-mobi-p-fon-sinii-zheltii-vkontakte-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.dark .MainLayout {
    background-color: #18243e;
    color: #fff;
}

.MainLayout {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.top {
    /*height: 80px;*/
    display: flex;
    /*box-sizing: border-box;*/
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.webtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box ;
    padding-top: 10px;
    padding-left: 30px;
}

.webtitle img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;

}

.owufilm{
    font-size: 35px;
    color: #f6d51b;
    padding-left: 10%;
    padding-top: 20px;
}

.usertitle{
    width: 300px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
}

.userlogo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    overflow: hidden;
}

.background {
    width: 80%;
    height: 100%;
    margin-top: 50px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.3);

}
button {
    background-color: #f6d51b;
    color: #333;
}

button.dark {
    background-color: #18243e;
    color: #f6d51b;
}
