.Header {
    height: 50px;
    background: #f6d51b;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
}

.Header-link {
    text-decoration: none;
    color: snow;
    font-size: 25px;
}

.Header-link.active {
    color: #25468e;
}